.useless_text {
  font-size: 2rem;
  text-align: center;
  padding-top: 7rem;
  min-height: 80rem;
  height: calc(100vh - 95px);
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  h2 {
    margin: 0;
    font-size: 7rem;
  }
  h3 {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .more_useless {
    display: flex;
    gap: 4rem;

    &_elem {
      &_card {
        flex-shrink: 0;
        img {
          max-width: 500px;
        }
      }
    }
  }
}
